<div class="modal in p-b-lg" style="display: block; z-index:500;">
  <div class="modal-shadow" (click)="cancelModal()"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header p-a b-b">
        <p class="t-md">绑定微信</p>
        <p class="t-sm grey">请用微信扫一扫二维码完成绑定</p>
      </div>
      <div class="modal-body ">
        <div class="m-b-lg p-a">
          <div class="t-c">
            <img [src]="modal_info" alt="" style="width: 2rem;">
          </div>
          <p class="m-t t-c">微信扫一扫完成绑定</p>
          <p class="grey t-sm t-c">注意保密 </p>
        </div>
        <div class="b-t btn-group t-r p-a">
          <button class="btn btn-sm" (click)="cancelModal()">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
