.table{
  table-layout: fixed;
  width: 100%;
}
.table th {
  padding-left: 15px;
  padding-right: 15px;
}

.table th, .table td {
  text-align: left;
}
.table thead tr {
  background: rgba(80,80,80, 0.1);
}

.table tbody tr {
  border-top: 1px solid #ccc;
}

