<div class="staff-content">
    <div class="lh-50 icon-text-btn">
        <i class="m-l icon_arrow_left" [routerLink]="['/user/salary-calc-history']"></i>
        <div>薪资历史/历史工资表/{{salary_calc_result?.year}}年{{salary_calc_result?.pay_month}}月</div>
        <div class="p-l-xs grey">发薪日{{salary_calc_result?.op_month}}月{{salary_calc_result?.salary_date}}日</div>
    </div>
    <div *ngIf="no_list == 1" class="no-list-image">
        <img src="../../../../assets/info-png/invalid-name.png" alt="">
    </div>
    <div class="clearfix" *ngIf="no_list == 0">
        <div class="clearfix b-t pos-r b-b">
            <div class="clearfix m-t">
                <div class="d-ib black icon-text-btn p-l-lg pointer" (click)="releaseSalary()"
                     *ngIf="salary_calc_result?.is_archive == 1 && salary_calc_result?.recalculate == 1">
                    <i class="icon_unlock"></i>
                    <span>解除归档</span>
                </div>
                <div class="p-l-lg pull-right m-r pos-r">
                    <span class="pointer-blue icon-text-btn" (click)="openExcel()">
                        <i class="icon_download"></i>
                        <span>更多表格</span>
                    </span>
                    <div *ngIf="excel_choose" class="mask-layer" (click)="closeExcelList()"></div>
                    <div class="excel-box" *ngIf="excel_choose">
                        <div class="hover-bg-light-grey pointer-no-color t-c grey" *ngFor="let i of excel_list"
                             (click)="refreshValue(i.id)">
                            {{i.text}}
                        </div>
                    </div>
                </div>
                <div class="p-l-lg pull-right pointer pos-r">
                    <span class="icon-text-btn"  (click)="downSalary()">
                        <i class="icon_download"></i>
                        <span>导出工资表</span>
                    </span>
                </div>
            </div>
            <div class="p-a-lg p-l-xl p-t pos-r">
                <div>
                    <div class="t-RB t-36">{{salary_calc_result?.pay_salary}}</div>
                    <div class="total-grey">实发合计/元</div>
                </div>
                <div class="p-t-xl p-b-xl">
                    <ul>
                        <li class="d-ib">
                            <div class="t-24 t-RB">{{salary_calc_result?.should_salary}}</div>
                            <div class="total-grey">应发合计/元</div>
                        </li>
                        <li class="d-ib p-r-sm p-l-sm" style="vertical-align: top;">
                            <span class="t-24 bolder grey">+</span>
                        </li>
                        <li class="d-ib">
                            <div class="t-24 t-RB">{{salary_calc_result?.social}}</div>
                            <div class="total-grey">公司交金/元</div>
                        </li>
                        <li class="d-ib p-r-sm p-l-sm" style="vertical-align: top;">
                            <span class="t-24 bolder grey">=</span>
                        </li>
                        <li class="d-ib">
                            <div class="t-24 t-RB">{{salary_calc_result?.all}}</div>
                            <div class="total-grey">员工成本/元</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="pos-a" *ngIf="!salary_calc_result?.is_archive" style="right: .3rem;top: 1rem;"
                     (click)="archiveSalary()">
                    <button class="btn btn-xl">归档</button>
                </div>
                <div class="pos-a" *ngIf="salary_calc_result?.is_archive" style="right: .3rem;top: 1rem;">
                    <button class="btn btn-xl disabled">已归档</button>
                </div>
            </div>
        </div>
        <mayihr-searching [placeholder]="'输入员工姓名进行搜索'" [request_type]="'get'"
                          [request_url]="list_info_url"></mayihr-searching>
        <div class="clearfix"></div>
        <div class="pos-r b-t clear">
            <div class="min-h-430" [class.no-list-bg]="staff_salary_list?.length == 0">
                <table class="saas-table">
                    <thead>
                    <tr class="saas-table-header">
                        <th></th>
                        <th *ngFor="let i of table_header;let foo=index;" class="t-c header-range"
                            [class.t-l]="i.adjust == -1"
                            [class.t-c]="i.adjust == 0"
                            [class.t-r]="i.adjust == 1">
                            <span>{{ i.column_name }}</span>
                        </th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let staff of staff_salary_list;let i = index"
                           [class.no-b-b]="i == staff_salary_list.length - 1">
                    <tr class="v-m pos-r short_info pointer-no-color hover-bg-light-grey"
                        (click)="showDetailSalary(i, staff)">
                        <td></td>
                        <td *ngFor="let j of table_header;let foo = index" style="width: 100px;" class="t-c"
                            [class.t-l]="j.adjust == -1"
                            [class.t-c]="j.adjust == 0"
                            [class.t-r]="j.adjust == 1">
                            <div>
                                <div class="d-ib" *ngIf="foo == 0 || foo == 6" [title]="staff[j.column]">
                                    {{staff[j.column] | longStringFilter:5}}
                                    <div class="d-ib" *ngIf="foo == 0 && staff.is_archive == 1 && is_archive == 0">
                                        <i class="icon_lock"></i>
                                    </div>
                                </div>
                                <div class="d-ib" *ngIf="foo != 0 && foo != 6">
                                    {{staff[j.column]}}
                                </div>
                                <i (click)="editNote($event, staff)"
                                   *ngIf="foo == 6"
                                   class="icon_message pointer v-m" [class.grey]="detail_show === i"></i>
                            </div>
                        </td>
                        <td class="t-c">
                            <div class="d-ib pos-r pointer"
                                 (click)="openSalaryOperate($event, staff)">
                                <i class="icon_detail pointer v-m" [class.grey]="detail_show === i"></i>
                                <div *ngIf="staff.open_operate">
                                    <div *ngIf="staff.open_operate" class="mask-layer"
                                         (click)="closeSalaryOperate($event, staff)"></div>
                                    <div class="operate-box" style="top: .4rem;" *ngIf="staff.open_operate">
                                        <ng-container *ngFor="let i of operate_list;let j = index;">
                                            <div *ngIf="is_archive != 1 || j == 0"
                                                 class="hover-bg-light-grey grey"
                                                 [class.pointer]="!(j !== 0 && staff.is_archive == 1)"
                                                 [class.pointer-not-allowed]="j !== 0 && staff.is_archive == 1"
                                                 (click)="clickSalaryOperate($event, i, staff, j)">
                                                {{i.text}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="detail_show == i">
                        <td colspan="8" style="padding: 0;">
                            <div class="salary_detail d-tb" style="height: 100%;">
                                <div class="d-ib b-r d-cell">
                                    <div *ngFor="let detail of detail_info?.add_salary">
                                        <div [title]="detail.name" class="grey">{{detail.name | longStringFilter:6}}
                                        </div>
                                        <div>
                                            <ng-container *ngIf="detail.money != 0">{{detail.money}}</ng-container>
                                            <ng-container *ngIf="detail.money == 0">-</ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-ib b-r d-cell">
                                    <div *ngFor="let detail of detail_info?.salary_deduct">
                                        <div [title]="detail.name" class="grey">{{detail.name | longStringFilter:6}}
                                        </div>
                                        <div [class.red]="detail.name == '缺勤扣减' && show_red">
                                            <ng-container *ngIf="detail.money != 0">{{detail.money}}</ng-container>
                                            <ng-container *ngIf="detail.money == 0">-</ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-ib d-cell">
                                    <div *ngFor="let detail of detail_info?.personal_deduct">
                                        <div [title]="detail.name" class="grey">{{detail.name | longStringFilter:6}}
                                        </div>
                                        <div>
                                            <ng-container *ngIf="detail.money != 0">{{detail.money}}</ng-container>
                                            <ng-container *ngIf="detail.money == 0">-</ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <mayihr-paging [request_url]="list_info_url" [request_type]="'get'" [page_info]="page_info"></mayihr-paging>
</div>
<app-salary-edit-remark [modal_name]="modal_name" [salary_edit_remark]="modal_info" [modal_callback]="modal_callback"
                        *ngIf="modal_name == 'salary_remark_m'"></app-salary-edit-remark>

<app-attendance-adjust-m *ngIf="modal_name === 'attendance_adjust_m'" [modal_info]="modal_info"
                         [modal_callback]="modal_callback"></app-attendance-adjust-m>

<app-bonus-adjust-m [modal_name]="modal_name" [modal_info]="modal_info" [modal_callback]="modal_callback"
                    *ngIf="modal_name === 'bonus_adjust_m'"></app-bonus-adjust-m>

<app-reduce-adjust-m [modal_name]="modal_name" [modal_info]="modal_info" [modal_callback]="modal_callback"
                     *ngIf="modal_name === 'reduce_adjust_m'"></app-reduce-adjust-m>
