<div class="staff-content">
    <div class="p-t p-b b-b">
        <span class="d-ib m-l">历史工资表</span>
    </div>
    <div *ngIf="no_list == 1" class="no-list-image">
        <img src="../../../../assets/info-png/invalid-name.png" alt="">
    </div>
    <ng-container *ngIf="no_list == 0">
        <div class="b-b">
            <div class="d-ib t-l p-l-lg grey" style="width: .6rem;">
                年份
            </div>
            <div class="d-ib" style="width: 8rem;">
                <mayihr-tags *ngIf="tag !== undefined" [data_list]="tag" [default_selected]="current"
                             [only_one_show]="true"
                             (data_choosed)="chooseYear($event)"></mayihr-tags>
            </div>

        </div>
        <div class="clear history-list">
            <div class="history-item p-l-xl hover-bg-light-grey pointer-no-color"
                 *ngFor="let item of history_list"
                 (click)="toSalaryCalc(item)">
                <div class="b-b">
                    <div class="d-ib">{{item.month}}月</div>
                    <div class="d-ib pull-right p-r-lg" *ngIf="item.id == 0">
                        <div class="d-ib grey v-t  m-r-sm" style="line-height: .8rem;"> 未计算，点击进入补计算</div>
                        <div class="d-ib t-36 p-l-lg" style="line-height: .8rem;">
                            <i class="icon_angle_right pointer"></i>
                        </div>
                    </div>
                    <div class="d-ib pull-right p-r-lg" *ngIf="item.id != 0">
                        <div class="d-ib p-l-xxl">
                            <span>{{item.num}}</span><br>
                            <span class="grey">发薪员工/人</span>
                        </div>
                        <div class="d-ib p-l-xxl">
                            <div>{{item.pay_salary}}</div>
                            <div class="grey">实发合计/元</div>
                        </div>
                        <div class="d-ib p-l-xxl">
                            <div>{{item.all}}</div>
                            <div class="grey">员工成本/元</div>
                        </div>
                        <div class="d-ib t-36 p-l-lg" style="line-height: .8rem;">
                            <i class="icon_angle_right pointer"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>