.pos-adjust {
    margin-top: .6rem;
}

.paging-box {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.paging-content {
    /*height: .5rem;*/
    line-height: .6rem;
}

.paging-content > div {
    padding-left: 0.2rem;
    display: inline-block;
    margin-right: 0.2rem;
}

.paging-content > div:nth-child(3) {
    float: right;
}

.staff-page-switch {
    display: inline;
    float: right;
}

.staff-page-switch li {
    float: left;
    padding-left: 0.2rem;
}

.page-control-box {
    /*line-height: .3rem;*/
    padding-right: .1rem;
}

.page-control-box div {
    display: inline-block;
    padding-right: .1rem;
}

.page-input {
    padding: 0;
}

.page-input input {
    width: .45rem;
    height: .25rem;
    line-height: .23rem;
}

i {
    cursor: auto !important;
}

.pointer i {
    cursor: pointer !important;
}