<div>
  <div class="section">
    <div class="index-container">
      <p class="white t-36 bold t-c">注册蚂蚁HR人力资源系统</p>
      <p class="t-28 white m-b t-c">试过才知道，人力资源工作其实可以很简单</p>
      <div class="p-t p-b">
        <span class="index-green index-btn bg-white d-ib t-lg p-t p-b mobile-t30"><a [routerLink]="['/entry/register']">免费注册</a></span>
      </div>
    </div>
  </div>
  <div class="mobile-view">
    <div class="index-container p-l p-r ">
      <div class="bg-white  p-t-lg p-b-lg clearfix p-l p-r" style="margin-top:-.5rem;margin-bottom:.7rem;">
        <div class="d-ib">
          <h6 class="t-30 m-b">联系方式</h6>
          <p class="t-30 bold m-b">400-686-9915</p>
          <p class="t-28">mkt@mayihr.com</p>
        </div>
        <div class="pull-right">
          <img src="/assets/index/footer/vcode.png" alt="" class="w-200">
          <p class="text-grey t-c ">关注微信公众号</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pos-r mobile-view">
    <p class="white b-green t-c t-36 p-b-lg p-t-lg mobile-t32">点击免费注册</p>
    <span class="pos-a white b-green t-36 t-c ball mobile-t32" style=""><a
      href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A0%2C%22sid%22%3A%22-100%22%2C%22tid%22%3A%22-1%22%2C%22ttype%22%3A1%2C%22siteId%22%3A%2210634469%22%2C%22userId%22%3A%2223166757%22%2C%22pageId%22%3A0%7D"
      class="mbtn">在线<br/>咨询</a></span>
  </div>
</div>
