
.section {
    background: url("/assets/index/footer-sign/footer-sign-bg.png") left top no-repeat;
    background-size: auto 115%;
}
@media screen and (max-width: 640px){
  .ball {
    width:1.6rem;
    height:1.6rem;
    border-radius:100%;
    padding-top:.4rem;
    line-height: .4rem;
    right:.5rem;
    bottom:.1rem;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px #009e6b;
  }
}
