.add-box {
    vertical-align: middle;
    font-size: 0;
    border: 1px solid #d7d7d7;
    line-height: .34rem;
    border-radius: 3px;
}

.add-icon {
    width: .25rem;
    text-align: center;
    background: #fff;
    border-radius: 3px 0 0 3px;
}

.add-input {
    border-radius: 0 3px 3px 0 !important;
    line-height: .34rem !important;
    height: .34rem !important;
    border: none !important;
    width: 1rem;
}

.short-text {
    overflow: hidden;
    width: 2rem;
    height: .2rem;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
}
