/*.staff-content {*/
    /*float: left;*/
    /*min-width: 6rem;*/
    /*width: 8rem;*/
    /*height: 100%;*/
    /*background: #ffffff;*/
    /*position: relative;*/

/*}*/

.staff-table-box {
    min-width: 100%;
    min-height: 4.3rem;
    overflow: auto;
}

/*.staff-table-box i {*/
    /*!*padding-top:.1rem;*!*/
    /*!*font-size: .2rem;*!*/
    /*line-height: .2rem;*/
/*}*/

/*.table-left-margin {*/
    /*margin-left: 1rem;*/
    /*!*display: inline-block;*!*/
/*}*/

/*.staff-list-table {*/
    /*padding-left: .2rem;*/
    /*white-space: nowrap;*/
    /*table-layout: fixed;*/
/*}*/

/*thead tr th {*/
    /*font-weight: 100;*/
    /*font-size: 0.12rem;*/
    /*color: rgba(80, 80, 80, 0.8) !important;*/
    /*background: #f3f3f3;*/
/*}*/

/*.staff-list-table th {*/
    /*text-align: left;*/
    /*padding-left: .2rem;*/
    /*height: .3rem;*/
    /*line-height: .3rem;*/
/*}*/

/*.staff-list-table th:first-child {*/
    /*padding-left: 0;*/
/*}*/

/*.staff-list-table td {*/
    /*line-height: .6rem;*/
    /*height: .6rem;*/
    /*text-align: left;*/
    /*padding-left: 0.2rem;*/
/*}*/

/*.staff-list-table td:first-child {*/
    /*padding-left: 0;*/
/*}*/

/*.short_info > td:hover {*/
    /*cursor: pointer;*/
/*}*/

/*table {*/
    /*width: 100%;*/
    /*table-layout: fixed;*/
/*}*/

/*tbody {*/
    /*padding-left: .2rem;*/
/*}*/

/*.short_info > td > div {*/
    /*cursor: pointer;*/
/*}*/

/*th {*/
    /*box-sizing: border-box;*/
/*}*/

/*th:nth-last-child(2) {*/
    /*width: 2rem;*/
/*}*/

/*tr td:last-child > span {*/
    /*display: none;*/
/*}*/

/*tr:hover td:last-child > span {*/
    /*display: block !important;*/
/*}*/

.salary_detail {
    box-sizing: content-box;
    width: 8.99rem;
    background: #f3f3f3;
    padding: 0 .5rem;
}

.salary_detail > div {
    width: 33.3%;
    height: 100%;
}

.salary_detail > div > div {
    padding: 0 .2rem;
}

.salary_detail > div > div > div {
    display: inline-block;
}

.salary_detail > div > div > div:first-child {
    width: 40%;
}

.salary_detail > div > div > div:nth-child(2) {
    text-align: left;
    width: 25%;
}

.salary_detail > div > div > div:last-child {
    text-align: right;
    width: 35%;
}