<div class="section index-footer">
  <div class="index-container">
    <div class="left d-ib v-t">
      <div class="d-ib block v-t">
        <ul>
          <li class="m-b white t-md">产品</li>
          <li class="white m-b-xs"><a [routerLink]="['/index/product-function/system']">人事系统</a></li>
          <li class="white m-b-xs"><a [routerLink]="['/index/product-function/saas']">人事外包</a></li>
          <li class="white m-b-xs"><a [routerLink]="['/index/product-price']">产品价格</a></li>
        </ul>
      </div>
      <div class="d-ib block v-t">
        <ul>
          <li class="m-b white t-md">资源</li>
          <li class="white m-b-xs"><a href="https://www.mayihr.com/blog/">官方博客</a></li>
          <li class="white"><a href="http://www.mayishebao.com/shebao/">问答平台</a></li>
        </ul>
      </div>
      <div class="d-ib  block v-t">
        <ul>
          <li class="m-b white t-md">公司</li>
          <li class="white m-b-xs"><a [routerLink]="['/index/product-aboutus/0']">关于我们</a></li>
          <li class="white m-b-xs"><a [routerLink]="['/index/product-aboutus/1']">媒体报道</a></li>
          <li class="white m-b-xs"><a [routerLink]="['/index/product-aboutus/2']">联系我们</a></li>
          <li class="white "><a [routerLink]="['/index/product-aboutus/3']">加入我们</a></li>
        </ul>
      </div>
      <div class="d-ib v-t">
        <ul>
          <li class="m-b white t-md">其他业务</li>
          <li class="white m-b-xs"><a href="http://www.mayishebao.com/">个人代缴</a></li>
          <li class="white"><a href="https://gzt.mayihr.com/">群发工资条</a></li>
        </ul>
      </div>
    </div>
    <div class="right d-ib v-t">
      <div class="d-ib v-t">
        <p class="t-md white m-b">
          联系方式
        </p>
        <p class="white t-md m-b-xs">400-686-9915</p>
        <p class="white t-md">mkt@mayihr.com</p>
      </div>
      <div class="d-ib m-l">
        <img src="/assets/index/footer/vcode.png" alt="" class="w-100">
        <p class="white">关注微信公众号</p>
      </div>
    </div>
  </div>
</div>
