<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header p-a b-b">
      <p class="t-md">生成新劳动合同</p>
      <p class="t-sm grey">系统会自动摘取组织关系和薪酬等字段，为您生成合同</p>
    </div>
    <div class="modal-body ">
      <!--合同接口还没有-->
      <div class="m-b-lg p-a">
        <form action="" [formGroup]="labour_contract">
          <div class="m-b-sm">
            <label class="grey d-ib">合同编号</label>
            <div>
              <input type="text" formControlName="code" placeholder="请输入合同编号">
            </div>
            <span class="error t-sm"
                  *ngIf="!(labour_contract.get('code').valid || (labour_contract.get('code').untouched && beforesubmit))">请填写合同编号</span>
          </div>
          <div class="m-b-sm">
            <label class="grey d-ib">生效日期</label>
            <div style="width:2.5rem;">
              <mayihr-datepicker formControlName="in_at" [options]="{min_view_mode: 2}"
                                 (changeValue)="setEndTime('end_time_options', $event)"></mayihr-datepicker>
            </div>
            <span class="error t-sm"
                  *ngIf="!(labour_contract.get('in_at').valid || (labour_contract.get('in_at').untouched && beforesubmit))">请填写合同日期</span>
          </div>
          <div class="m-b-sm">
            <label class="grey d-ib">结束日期</label>
            <div style="width:2.5rem;">
              <mayihr-datepicker formControlName="out_at" [options]="end_time_options"></mayihr-datepicker>
            </div>
            <div><span class="error t-sm"
                       *ngIf="!(labour_contract.get('out_at').valid || (labour_contract.get('in_at').untouched && beforesubmit))">请填写合同失效日期</span>
            </div>
          </div>
        </form>
      </div>
      <div class="b-t btn-group t-r p-a">
        <button class="reverse t-sm light v-m m-r-sm btn btn-sm" (click)="cancelModal()">取消</button>
        <button class="btn btn-sm" (click)="createContract()">生成</button>
      </div>
    </div>
  </div>
</div>
