.tip-item {
    width: .1rem;
    height: .1rem;
    border-radius: .05rem;
    background: #d8d8d8;
    margin: 0 .1rem;
}
.tip-item:hover {
    background: #505050;
}

.choosed-item {
    background: #505050;
}