.content-body {
    width: 12rem;
    margin: 0 auto;
    /*overflow: hidden;*/
    padding-top: 1.15rem;
}
.right-content {
    margin: 0 auto;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background: white;
    width: 3.21rem;
}
.input-area > div {
    padding-bottom: .1rem;
}
.input-area > form > div > div > input {
    width: 1.5rem!important;
    padding-left: .12rem;
}
.input-area > div > i {
    vertical-align: middle;
    line-height: .36rem;
    /*font-size: .2rem;*/
}
.footer-box {
    color: rgba(80, 80, 80, 0.65);
    width: 100%;
    text-align: center;
    bottom: -.45rem;
}
.footer-box a {
    text-decoration: underline;
}