<div class="modal in p-b-lg" style="display: block; z-index:500;">
    <div class="modal-shadow" (click)="cancelModal()"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-a b-b">
                <p class="t-md">{{modal_info.type === 'edit' ? '编辑' : '添加'}}福利项目</p>
                <p class="t-sm grey">暂不支持修改计税规则等配置，请删除福利重新添加 </p>
            </div>
            <div class="modal-body ">
                <div class="m-b-lg p-a">
                    <form action="" [formGroup]="company_benefit">
                        <div class="m-b-sm">
                            <div>
                                <label for="" class="grey d-ib m-b-xs">福利名称<i class="error t-sm m-l-sm">*</i></label>
                            </div>
                            <input type="text" formControlName="be_name" placeholder="输入福利名称" checked>
                            <div>
                                <span class="error t-sm"
                                      *ngIf="!(company_benefit.get('be_name').valid || company_benefit.get('be_name').untouched && before_submit)">请填写15字以内福利名称
                                </span>
                            </div>
                        </div>
                        <div class="m-b-sm">
                            <label class="grey d-ib m-b-xs">默认金额<i class="error t-sm m-l-sm">*</i></label>
                            <div>
                                <input type="text" formControlName="be_money" placeholder="默认金额" checked class="m-b-sm"
                                       style="width:1.8rem;">
                                <div class="d-ib" style="width: .8rem;">
                                    <mayihr-select [SelectData]="select_list?.unix_item || []"
                                                   (RefreshValue)="changeUnit($event)"
                                                   formControlName="unit"></mayihr-select>
                                </div>
                            </div>
                            <div>
                                <span class="error t-sm"
                                      *ngIf="!(company_benefit.get('be_money').valid || company_benefit.get('be_money').untouched && before_submit)">
                                    请填写正确金额
                                </span>
                            </div>
                        </div>
                        <div class="m-b-sm" *ngIf="modal_info && modal_info.type === 'edit'">
                            <label class="ui-check">
                                <input type="checkbox" formControlName="is_cover" value="1">
                                <i class="icon_ui v-m"></i>
                                <span class="t v-m">将按原默认金额享受该福利的员工改为新默认金额</span>
                            </label>
                        </div>
                        <div class="m-b-sm">
                            <label class="grey d-b m-b-xs">发放要求</label>
                            <div class="d-ib" style="width: 2.65rem;">
                                <mayihr-select [SelectConfig]="{placeholder: '请选择发放要求'}"
                                               [SelectData]="select_list?.condition_item || []"
                                               formControlName="condition"></mayihr-select>
                            </div>
                            <div>
                                <span class="error t-sm"
                                      *ngIf="!(company_benefit.get('condition').valid || company_benefit.get('condition').untouched && before_submit)">
                                请选择发放要求
                            </span>
                            </div>
                        </div>
                        <div>
                            <label class="ui-check">
                                <input type="checkbox" formControlName="is_auto">
                                <i class="icon_ui v-m"></i>
                                <span class="t v-m">为新员工自动加上该项福利</span>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="b-t btn-group t-r p-a">
                    <div *ngIf="modal_info && modal_info.type === 'edit' && benefit_id >= 0"
                         class="pull-left pointer" (click)="deleteRecord()"><i class="icon_delete p-r"></i>删除
                    </div>
                    <button class="reverse t-sm light v-m m-r-sm btn btn-sm" (click)="cancelModal()">取消</button>
                    <button class="btn btn-sm" (click)="saveMsg()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>