/*body {*/
    /*overflow: auto;*/
/*}*/
/*.modal {*/
    /*overflow: auto;*/
/*}*/
.label {
    color:#fff;
    background: #33ac37;
    padding: 2px 6px;
    border-radius: 3px;
}
.form-label {
    float:left;
    width: 1.2rem;
}
.form-control {
    margin-left: 1.2rem;
}
.half {
    width:50%;
    float:left;
    word-break: break-all;
}

.list-item {
    padding-top: .1rem ;
    padding-bottom: .1rem ;
}
.address-list .list-item:nth-child(even) {
    background: rgba(80,80,80, 0.05);
}
.address-operate {
    display: none;
}
.list-item:hover > .address-operate {
    display: inline-block;
}