<!--工作地点设置-->
<div class="p-a-lg" *ngIf="office_data">
    <div class="company-office">
        <div><span class="t-md">工作地点</span>
            <span class="pull-right pointer m-r icon-text-btn"
                  (click)="showOfficeSetting({data: {}, type: 'add'})">
            <i class="icon_add"></i>
            <span>添加</span></span></div>
        <p class="grey">有员工驻扎的办公地址</p>
        <div class="m-t clearfix address-list mh-350 p-l-sm p-r-sm" [class.no-list-bg]="office_data?.length == 0">
            <div class="company-office-list list-item p-l-sm p-r-sm"
                 *ngFor="let item of office_data; let i = index;">
                <div class="pos-r clearfix ">
                    <div class="half">
                        <p>
                            <span [title]="item?.name.toString().length > 15 ? item.name : ''">{{ item.name | longStringFilter:15}}</span>
                            <label class="m-l-sm label v-m" *ngIf="item.is_default === 1">默认</label>
                        </p>
                        <p class="grey">{{item.staff_count}}人</p>
                    </div>
                    <div class="half">
                        <p>{{item?.province_name}}{{item?.city_name}}{{item?.district_name}}-{{ item?.addr }}</p>
                        <p>{{ item?.postcode }}</p>
                    </div>
                    <div class="pos-a m-r-lg item-operate" style="right:0;">
                        <span class="pointer"
                              (click)="showOfficeSetting({data: office_data[i], type: 'edit'})"><i
                                class="icon_edit dark m-r-sm"></i> 编辑</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--工作地点设置end-->


<app-office-addr *ngIf="modal_name === 'office_setting'"
                 [modal_name]="modal_name" [modal_info]="modal_info"
                 [modal_callback]="modal_callback"></app-office-addr>
